#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dev-container {
  width: 100%; /* Default to full width */
}

/* Apply this style when the viewport is wider than 1000px */
@media (min-width: 1000px) {
  .dev-container {
    width: 30%; /* 30% width when viewport is wider than 1000px */
  }
}